.about {
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    background-color: #89D2DC;
    color: white;
    font-size: 20px;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}