.about {
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    background-color: #89D2DC;
    background-image: linear-gradient(white, #89D2DC);
    color: white;
    font-size: 30px;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
}

// .gradient {
//     height: 100px;
//     background-color: #89D2DC;
//     background-image: linear-gradient(white, #89D2DC);
// }